/* font url import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* general styling for the page */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Logo placement and design */
#logo {
    float: left;
    font-size: 200%;
    margin-top: 30px;
    margin-left: 15px;
    text-transform: uppercase;
}

/* Header class rules */
.header-nav {
    background-color: green;
}

/* Welcome banner class rules */
.welcome-banner {
    background-color: blue;

}

/* Main body class rules */
.main-body {
    background-color: yellow;

}

/* Contacts and email class rules */
.contacts-and-email {
    background-color: red;

}

/* Footer rules*/
#footer {
    background-color: orange;

}