/* font url import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* general styling for the page */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #281f1e;
}


/* logo placement and design */
#logo {
    float: left;
    font-size: 200%;
    margin-top: 30px;
    margin-left: 80px;
    text-transform: uppercase;
    color: #281f1e;
}

#logo, .navbar {
    line-height: 30px;
    clear: both;
}

/* header class rules */
.header-nav {
    background-color: #74604e;
    width: 100%;
    height: 100px;
}

/* navbar rules */
.navbar, li {
    float: left;
    font-size: 20px;
    list-style-type: none;
    margin-left: 40px;
}

.navbar, a {
    text-decoration: none;
    color: #281f1e;
}

.navber, a:hover {
    border-bottom: 3px solid #3c302f;
}

/* welcome banner class rules */
.welcome-banner {
    width: 100%;
    height: 600px;
    overflow: hidden;

    position: relative;
}

/* welcome-text specific rules */
#welcome-text, #welcome-text h2, #welcome-text p {
    font-size: 130%;
    color: #281f1e;
    margin-top: 10px;
} /* styles the text inside the welcome text bubble */

#welcome-text {
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    width: 200px;
    height: 200px;

    padding-top: 40px;
    padding-left: 20px;
    background-color: #74604e;

    bottom: 40px;
    right: 160px;
    position: absolute;

    border-radius: 40px;
} /* styles the text-bubble that appears on top of the welcome banner for the webbpage, as well as sets its position as absolute
so it stays in place neatly over the banner */

/* welcome-pic specific rules */
#welcome-pic {
    background: url("../images/coffebeans.jpg");
    width: 100%;
    height: 600px;
    
    /* animates zoom for welcome-pic */
    animation-name: pic-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* zoom for welcome-pic */
@keyframes pic-zoom {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.05);
    }
}

/* main body class rules */
.main-body {
    height: 500px;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
}

/* drinks and desserts menu */
#menu {
    background-color: #74604e;
    width: 49%;
    height: 500px;
    float: left;
    margin-right: 10px;
    border-radius: 25px;
} /* sets the size and margin of the menu element, as well as it's position. adding some style as well */

#drinks {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    width: 40%;
    float: left;
} /* create general structure and placement for drinks, so it doesn't clash
with the other parts' space */

#coffeemug-icon {
    width: 8%;
    margin: 0 auto;
}

#desserts {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    width: 40%;
    float: right;
} /* create general structure and placement for desserts, so it doesn't clash
with the other parts' space */

.items {
    display: block;
    padding-top: 15px;
} /* make the items in the menu fall into a vertical list, for both the drinks and desserts*/

#drinks h2 {
    color: #281f1e;
    padding-left: 90px;
    padding-bottom: 30px;
    line-height: 20px;
    clear: both;
} /* styles the heading for the drinks part of the menu */

#drinks hr {
    border-top: solid 2px;
    color: #281f1e;
    width: 100%;
} /* adds a horizontal line */

#desserts h2 {
    color: #281f1e;
    padding-left: 90px;
    padding-bottom: 30px;
    line-height: 20px;
    clear: both;
} /* styles and positions the heading for the dessert part of the menu */

#desserts hr {
    border-top: solid 2px;
    color: #281f1e;
    width: 100%;
} /* adds a horizontal line */

/* coffee-mug icon */
#coffeemug-icon {
    font-size: 300%;
    color: #281f1e;
    padding-top: 30px;
}

/* The div that contains a picture that stands next to the menu with the motif of a ... */
#menu-picture {
    width: 49%;
    height: 500px;
    float: right;
}

#menu-pic1 {
    height: 500px;
    width: 50%;
    float: left;
    background: url(../images/espresso-hand.jpg);
    border-radius: 25px;
} /* styles and inserts the picture next to the menu element */

#menu-pic2 {
    height: 500px;
    width: 50%;
    background: url(../images/cafe-table.jpg);
    float: right;
    border-radius: 25px;
} /* styles and inserts the cafe-table image next to pic1 */

/* Contacts and email class rules */
.contacts-and-email {
    height: 250px;
    margin-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
}

#email-form {
    width: 49%;
    height: 250px;
    float: left;
    background-color: red;
    margin-right: 10px;
}

/* contacts general rules and position */
#contacts {
    width: 49%;
    height: 250px;
    float: right;
    background-color: #74604e;
    border-radius: 25px;
}

#location {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 40%;
    float: left;
    color: #281f1e;
} /* general placement of the location part of contacts */

#location h2, #location p {
    padding: 10px;
}

#location p {
    font-size: 20px;
}

#phone-and-email {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 40%;
    float: right;
    color: #281f1e;
} /* general placement of the phone and email part of contacts */

#phone-and-email h2, #phone-and-email p {
    padding: 10px;
}

#phone-and-email p {
    font-size: 20px;
}

/* Footer rules*/
#footer {
    background-color: #281f1e;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
} /* set the height and width of the footer, as well as make sure that it is placed underneath the other elements in the webbpage */

#footer ul {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #9b8068;
} /* makes sure that the social media icons/links is in the right position, at the center of the footer */

#footer a i {
    color: #9b8068;
    font-size: 200%;
    letter-spacing: 50px;
} /* adds some style and size for the favicons for the social media links */